<link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
<script src="~/js/showWindowsAdmin.js"></script>

@using WorkloadProject.Models;
@using Microsoft.EntityFrameworkCore
@model JournalUserViewModel
@addTagHelper "*, WorkloadProject"
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<div onclick="hideAllWindows()" id="mainWindow"></div>
<div id="secondWindowAddExecLesson" class="secondWindow">

    <img class="close" onclick="showAddExecLesson('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="AddExecLesson" method="post" class="hiddenForm">
        <label>Workload:</label>
        <select class="form-control" name="lessonId" style="width: 260px; float: right;">
            @foreach (Lesson lesson in ViewBag.Lessons)
            {
                <option value="@lesson.Id">@lesson.Subject.Name (@lesson.TypeLesson.Name)</option>
            }
        </select>
        <br><br>
        <label>Date:</label>
        <input type="text" name="date" maxlength="50" size="31" />
        <br><br>
        <label>Lesson number:</label>
        <input type="text" name="lessonNumber" maxlength="50" size="28" />
        <br><br>
        <label>Theme:</label>
        <input type="text" name="theme" maxlength="50" size="31" />
        <br><br>
        <input type="submit" class="btn btn-success" value="Add" />
    </form>
</div>
<div id="secondWindowChangeExecLesson" class="secondWindow">

    <img class="close" onclick="showChangeExecLesson('none',null,null,null)" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="ChangeExecLesson" method="post" class="hiddenForm">
        <input type="hidden" name="lessonId" id="hiddenLessonId" />
        <input type="hidden" name="date" id="hiddenDate" />
        <input type="hidden" name="lessonNumber" id="hiddenLessonNumber" />
        <br><br>
        <label>New theme:</label>
        <input type="text" name="newTheme" maxlength="50" size="31" />
        <br><br>
        <input type="submit" class="btn btn-success" value="Change" />
    </form>
</div>
<br><br>
<div display: inline-block;>
    <button id="buttonAddExecLesson" class="secondButton" onclick="showAddExecLesson('block')">Add Executed Lesson</button>
</div>
<h3>Journal:</h3> <br>
<br />
<form method="get">
    <div class="form-inline">
        <label class="control-label">Subject name: </label>
        @Html.TextBox("subjectName", Model.FilterSubjectsViewModel.SelectedSubjectName, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table" border="1">
    <tr>
        <td>
            <a asp-action="JournalUser"
               asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
               asp-route-surname="@(Model.FilterSubjectsViewModel.SelectedSubjectName)">Date</a>
        </td>
        <td>
            <a asp-action="JournalUser"
               asp-route-sortOrder="@(Model.SortViewModel.TimeSort)"
               asp-route-surname="@(Model.FilterSubjectsViewModel.SelectedSubjectName)">Time</a>
        </td>
        <td>
            <a asp-action="JournalUser"
               asp-route-sortOrder="@(Model.SortViewModel.SubjectSort)"
               asp-route-surname="@(Model.FilterSubjectsViewModel.SelectedSubjectName)">Lesson</a>
        </td>
        <td>Theme</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (Journal item in Model.Journals)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.TimeLesson.Time.ToShortTimeString()</td>
            <td>@item.Lesson.Subject.Name (@item.Lesson.TypeLesson.Name)</td>
            <td>@item.Theme</td>
            <td>
                <a href="javascript:showChangeExecLesson('block', @item.Lesson.Id, '@item.Date.ToString()', @item.TimeLesson.Id)">Change</a>
            </td>
            <td>
                <a asp-controller="Home" asp-action="DeleteExecLesson" asp-route-lessonId="@item.Lesson.Id" asp-route-date="@item.Date" asp-route-lessonNumber="@item.TimeLesson.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="JournalUser"></page-link>
