<link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
<script src="~/js/showWindowsAdmin.js"></script>

@using WorkloadProject.Models;
@using Microsoft.EntityFrameworkCore
@model SubjectsViewModel
<br /> <br />
<div>
    <button id="buttonActionSubject" class="secondButton" onclick="showAddSubject('block')">Add Subject</button>
</div>
    <div onclick="hideAllWindows()" id="mainWindow"></div>
    <div id="secondWindowAddSubject" class="secondWindow">

        <img class="close" onclick="showAddSubject('none')" src="~/images/close.jpg" />
        <form asp-controller="Home" asp-action="AddSubject" method="post" class="hiddenForm">
            <label>Название:</label>
            <input type="text" name="subjectName" maxlength="50" size="30" />
            <br><br>
            <input type="submit" class="formSubmit" value="Добавить" />
        </form>
    </div>
<div id="secondWindowChangeSubject" class="secondWindow">

    <img class="close" onclick="showChangeSubject('none', null)" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="ChangeSubject" class="hiddenForm">
        <label>Новое Название:</label>
        <input type="text" name="subjectName" maxlength="50" size="25" />
        <br><br>
        <input type="hidden" name="subjectId" id="hiddenSubjectId"/>
        <input type="submit" class="formSubmit" value="Изменить" />
    </form>
</div>

    <h3>Subjects</h3>
<br />
<form method="get">
    <div class="form-inline">
        <label class="control-label">Название: </label>
        @Html.TextBox("subjectName", Model.FilterSubjectsViewModel.SelectedSubjectName, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
    <table class="table" border="1">
        <tr>
            <td>Id</td>
            <td><a asp-action="Subjects"
   asp-route-sortOrder="@(Model.SortViewModel.SubjectSort)"
   asp-route-surname="@(Model.FilterSubjectsViewModel.SelectedSubjectName)">Name</a></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            <tr>
                <td>
                    @subject.Id
                </td>
                <td>
                    @subject.Name
                </td>
                <td>
                    <a href="javascript:showChangeSubject('block', @subject.Id)">Изменить</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="DeleteSubject" method="post" asp-route-subjectId="@subject.Id">Удалить</a>
                </td>
            </tr>

        }
    </table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Subjects"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-surname="@(Model.FilterSubjectsViewModel.SelectedSubjectName)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Subjects"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-surname="@(Model.FilterSubjectsViewModel.SelectedSubjectName)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
