<link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
<script src="~/js/showWindowsAdmin.js"></script>

@using WorkloadProject.Models;
@using Microsoft.EntityFrameworkCore
<br /> <br />
<div>
    <button id="buttonAddUser" class="secondButton" onclick="showAddUser('block')">Add Teacher</button>
</div>
<div onclick="hideAllWindows()" id="mainWindow"></div>
<div id="secondWindowAddUser" class="secondWindow">

    <img class="close" onclick="showAddUser('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="AddUser" method="post" class="hiddenForm">
        <label>Фамилия:</label>
        <input type="text" name="surname" maxlength="50" size="30" />
        <br><br>
        <label>Имя:</label>
        <input type="text" name="firstName" maxlength="50" size="30" />
        <br><br>
        <label>Отчество:</label>
        <input type="text" name="middleName" maxlength="50" size="30" />
        <br><br>
        <label>Должность:</label>
        <select class="form-control" name="positionId" style="width: 250px; float: right;">
            @foreach (Position item in ViewBag.Positions)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br><br>
        <label>E-mail:</label>
        <input type="text" name="email" maxlength="50" size="30" />
        <br><br>
        <label>Пароль:</label>
        <input type="text" name="password" maxlength="50" size="30" />
        <br><br>
        <input type="submit" class="formSubmit" value="Добавить" />
    </form>
</div>

<div id="secondWindowChangeUser" class="secondWindow">

    <img class="close" onclick="showChangeUser('none', null, null, null, null, null, null, null)" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="ChangeUser" name="ChangeUserForm" method="post" class="hiddenForm">
        <label>Фамилия:</label>
        <input type="text" name="surname" id="Surname" maxlength="50" size="31" />
        <br><br>
        <label>Имя:</label>
        <input type="text" name="firstName" id="FirstName" maxlength="50" size="31" />
        <br><br>
        <label>Отчество:</label>
        <input type="text" name="middleName" id="MiddleName" maxlength="50" size="31" />
        <br><br>
        <label>Должность:</label>
        <select class="form-control" name="positionId" id="Position" style="width: 250px; float: right;">
            @foreach (Position item in ViewBag.Positions)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br><br>
        <label>Email:</label>
        <input type="text" name="email" id="Email" maxlength="50" size="31" />
        <br><br>
        <label>Пароль:</label>
        <input type="text" name="password" id="Password" maxlength="50" size="31" />
        <br><br>
        <input type="hidden" name="teacherId" id="TeacherId" />
        <input type="submit" class="formSubmit" value="Изменить" />
    </form>
</div>

<div id="secondWindowDeleteUser" class="secondWindow">

    <img class="close" onclick="showDeleteUser('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="DeleteUser" method="post" class="hiddenForm">
        <label>Ф.И.О:</label>
        <select class="form-control" name="teacherId" style="width: 260px; float: right;">
            @foreach (Teacher item in ViewBag.Teachers)
            {
                <option value="@item.Id">@item.Surname @item.FirstName.First().@item.MiddleName.First()</option>
            }
        </select>
        <br><br>
        <input type="submit" class="formSubmit" value="Удалить" />
    </form>
</div>
<br/><br />
<h3>Teachers</h3>
<table class="table" border="1">
    <tr>
        <td>Id</td>
        <td>FirstName</td>
        <td>MiddleName</td>
        <td>Surname</td>
        <td>Position</td>
        <td>Email</td>
        <td>Password</td>
        <td>IsAdmin</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (Teacher item in ViewBag.Teachers)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.MiddleName
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.position.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.IsAdmin
            </td>
            <td>
                <a href="javascript:showChangeUser('block', '@item.FirstName', '@item.MiddleName', '@item.Surname','@item.position.Id',
                   '@item.Email', '@item.Password', '@item.Id')">Изменить</a>
            </td>
            <td>
                <a asp-controller="Home" asp-action="DeleteUser" method="post" asp-route-teacherId="@item.Id">Удалить</a>
            </td>
        </tr>

    }
</table>