<link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
<script src="~/js/showWindowsAdmin.js"></script>

@using WorkloadProject.Models;
@using Microsoft.EntityFrameworkCore
@model IndexViewModel
<br /> <br />
<div>
    <button id="buttonAddUser" class="secondButton" onclick="showAddUser('block')">Add Teacher</button>
</div>
<div onclick="hideAllWindows()" id="mainWindow"></div>
<div id="secondWindowAddUser" class="secondWindow">

    <img class="close" onclick="showAddUser('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="AddUser" method="post" class="hiddenForm">
        <label>Surname:</label>
        <input type="text" name="surname" maxlength="50" size="30" />
        <br><br>
        <label>First Name:</label>
        <input type="text" name="firstName" maxlength="50" size="30" />
        <br><br>
        <label>Middle Name:</label>
        <input type="text" name="middleName" maxlength="50" size="30" />
        <br><br>
        <label>Position:</label>
        <select class="form-control" name="positionId" style="width: 250px; float: right;">
            @foreach (Position item in ViewBag.Positions)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br><br>
        <label>E-mail:</label>
        <input type="text" name="email" maxlength="50" size="30" />
        <br><br>
        <label>Password:</label>
        <input type="text" name="password" maxlength="50" size="30" />
        <br><br>
        <input type="submit" class="formSubmit" value="Add" />
    </form>
</div>

<div id="secondWindowChangeUser" class="secondWindow">

    <img class="close" onclick="showChangeUser('none', null, null, null, null, null, null, null)" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="ChangeUser" name="ChangeUserForm" method="post" class="hiddenForm">
        <label>Surname:</label>
        <input type="text" name="surname" id="Surname" maxlength="50" size="31" />
        <br><br>
        <label>First Name:</label>
        <input type="text" name="firstName" id="FirstName" maxlength="50" size="31" />
        <br><br>
        <label>Middle Name:</label>
        <input type="text" name="middleName" id="MiddleName" maxlength="50" size="31" />
        <br><br>
        <label>Position:</label>
        <select class="form-control" name="positionId" id="Position" style="width: 250px; float: right;">
            @foreach (Position item in ViewBag.Positions)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br><br>
        <label>Email:</label>
        <input type="text" name="email" id="Email" maxlength="50" size="31" />
        <br><br>
        <label>Password:</label>
        <input type="text" name="password" id="Password" maxlength="50" size="31" />
        <br><br>
        <input type="hidden" name="teacherId" id="TeacherId" />
        <input type="submit" class="formSubmit" value="Change" />
    </form>
</div>

<br/>
<h3>Teachers</h3>
<br />
<form method="get">
    <div class="form-inline">
        <label class="control-label">Surname: </label>
        @Html.TextBox("surname", Model.FilterViewModel.SelectedSurname, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table" border="1">
    <tr>
        <td>Id</td>
        <td><a asp-action="Teachers"
   asp-route-sortOrder="@(Model.SortViewModel.FirstNameSort)"
   asp-route-surname="@(Model.FilterViewModel.SelectedSurname)">First Name</a></td>
        <td><a asp-action="Teachers"
   asp-route-sortOrder="@(Model.SortViewModel.MiddleNameSort)"
   asp-route-surname="@(Model.FilterViewModel.SelectedSurname)">Middle Name</a></td>
        <td><a asp-action="Teachers"
   asp-route-sortOrder="@(Model.SortViewModel.SurnameSort)"
   asp-route-surname="@(Model.FilterViewModel.SelectedSurname)">Surname</a></td>
        <td><a asp-action="Teachers"
   asp-route-sortOrder="@(Model.SortViewModel.PositionSort)"
   asp-route-surname="@(Model.FilterViewModel.SelectedSurname)">Position</a></td>
        <td>Email</td>
        <td>Password</td>
        <td>IsAdmin</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (Teacher item in Model.Teachers)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.MiddleName
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.position.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.IsAdmin
            </td>
            <td>
                <a href="javascript:showChangeUser('block', '@item.FirstName', '@item.MiddleName', '@item.Surname','@item.position.Id',
                   '@item.Email', '@item.Password', '@item.Id')">Change</a>
            </td>
            <td>
                <a asp-controller="Home" asp-action="DeleteUser" method="post" asp-route-teacherId="@item.Id">Delete</a>
            </td>
        </tr>

    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Teachers"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Teachers"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}