<link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
<script src="~/js/showWindowsAdmin.js"></script>
@using WorkloadProject.Models;
@using Microsoft.EntityFrameworkCore
@model IEnumerable<Lesson>
@{ 
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<br>

<div onclick="hideAllWindows()" id="mainWindow"></div>
<div class="userInfo" display: inline-block;>
    <h4 class="userInfo">Welcome @ViewBag.User.FirstName</h4>
</div>
<br><br>
<h3>Workload:</h3> <br>
<table class="table" border="1">
    <tr>
        <td></td>
        @foreach (Lesson item in Model)
            {
            <td>@item.Subject.Name (@item.TypeLesson.Name)</td>
        }
    </tr>
    <tr>
        <td>@Model.First().Teacher.Surname @Model.First().Teacher.FirstName.First().@Model.First().Teacher.MiddleName.First()</td>
        @foreach (Lesson les in Model)
        {
            <td>@les.HoursWorked h. of @les.HourLoad h.</td>
        }

    </tr>
</table>





