<link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
<script src="~/js/showWindowsAdmin.js"></script>
@using WorkloadProject.Models;
@using Microsoft.EntityFrameworkCore
@model IEnumerable<Lesson>
@{ 
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<br>

<div onclick="hideAllWindows()" id="mainWindow"></div>
<div id="secondWindowAddExecLesson" class="secondWindow">

    <img class="close" onclick="showAddExecLesson('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="AddExecLesson" method="post" class="hiddenForm">
        <label>Нагрузка:</label>
        <select class="form-control" name="lessonId" style="width: 260px; float: right;">
            @foreach (Lesson lesson in Model)
            {
                <option value="@lesson.Id">@lesson.Subject.Name (@lesson.TypeLesson.Name)</option>
            }
        </select>
        <br><br>
        <label>Дата:</label>
        <input type="text" name="date" maxlength="50" size="31" />
        <br><br>
        <label>№ пары:</label>
        <input type="text" name="lessonNumber" maxlength="50" size="31" />
        <br><br>
        <label>Тема:</label>
        <input type="text" name="theme" maxlength="50" size="31" />
        <br><br>
        <input type="submit" class="btn btn-success" value="Добавить" />
    </form>
</div>

<div id="secondWindowChangeExecLesson" class="secondWindow">

    <img class="close" onclick="showChangeExecLesson('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="ChangeExecLesson" method="post" class="hiddenForm">
        <label>Нагрузка:</label>
        <select class="form-control" name="lessonId" style="width: 260px; float: right;">
            @foreach (Lesson lesson in Model)
            {
                <option value="@lesson.Id">@lesson.Subject.Name (@lesson.TypeLesson.Name)</option>
            }
        </select>
        <br><br>
        <label>Дата:</label>
        <input type="text" name="date" maxlength="50" size="31" />
        <br><br>
        <label>№ пары:</label>
        <input type="text" name="lessonNumber" maxlength="50" size="31" />
        <br><br>
        <label>Новая тема:</label>
        <input type="text" name="newTheme" maxlength="50" size="31" />
        <br><br>
        <input type="submit" class="btn btn-success" value="Изменить" />
    </form>
</div>


<div id="secondWindowDeleteExecLesson" class="secondWindow">

    <img class="close" onclick="showDeleteExecLesson('none')" src="~/images/close.jpg" />
    <form asp-controller="Home" asp-action="DeleteExecLesson" method="post" class="hiddenForm">
        <label>Нагрузка:</label>
        <select class="form-control" name="lessonId" style="width: 260px; float: right;">
            @foreach (Lesson lesson in Model)
            {
                <option value="@lesson.Id">@lesson.Subject.Name (@lesson.TypeLesson.Name)</option>
            }
        </select>
        <br><br>
        <label>Дата:</label>
        <input type="text" name="date" maxlength="50" size="31" />
        <br><br>
        <label>№ пары:</label>
        <input type="text" name="lessonNumber" maxlength="50" size="31" />
        <br><br>
        <input type="submit" class="formSubmit" value="Удалить" />
    </form>
</div>

<div class="userInfo" display: inline-block;>
    <h4 class="userInfo">Welcome @ViewBag.User.FirstName</h4>
</div>
<br><br>
<h3>Workload:</h3> <br>
<table class="table" border="1">
    <tr>
        <td></td>
        @foreach (Lesson item in Model)
            {
            <td>@item.Subject.Name (@item.TypeLesson.Name)</td>
        }
    </tr>
    <tr>
        <td>@Model.First().Teacher.Surname @Model.First().Teacher.FirstName.First().@Model.First().Teacher.MiddleName.First()</td>
        @foreach (Lesson les in Model)
        {
            <td>@les.HoursWorked h. of @les.HourLoad h.</td>
        }

    </tr>
</table>





